<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hey, I'm Jordany.</h2>
                <hr class="light">
                <img class="thumbnail img-responsive center-block" style="border-radius: 50%" src="../img/small_jd.jpg" alt="jd-img"/>
                <p class="text-faded">I'm a dependable and driven software engineer around the NJ/NY area passionate about helping people make their ideas a reality. I have a deep interest in technology, and a hobby for solving problems and I'm positive I can help you.</p>

                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get in Touch</a>
            </div>
        </div>
    </div>
</section>
