<aside class="bg-dark" id="portfolio">
    <div class="container text-center" >
        <div class="call-to-action">
          <h2>Portfolio</h2>
          <hr class="light">
        </div>
    </div>
  </aside>
<section class="no-padding" >
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://dj-mood.herokuapp.com" class="portfolio-box">
                    <img src="img/portfolio/dj-mood.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Dj-Mood
                            </div>
                            <div class="project-category text-faded">
                                Generate a playlist based on your emotions
                            </div>
                            <div>
                                MongoDB | ExpressJS | NodeJS 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://jd-mdb.herokuapp.com" class="portfolio-box">
                    <img src="img/portfolio/jdmdb.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                JDMDb
                            </div>
                            <div class="project-category text-faded">
                                Search thousands of movies for information on that movie
                            </div>
                            <div>
                                JavaScript | React | API(themoviedb)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://jdgram.herokuapp.com" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                JdGram
                            </div>
                            <div class="project-category text-faded">
                                CRUD app clone of Instagram
                            </div>
                            <div>
                                Ruby | Rails | AWS(S3) | Materialize
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
